# 데이터 전처리 실습

타이타닉 데이터셋으로 데이터 전처리를 실습해 보자.
* 결측치 처리하기
* 데이터 스케일 조정
* 범주형 데이터 처리하기

1, 타이타닉 데이터 셋을 읽어 들인다. 
```
import pandas as pd

titanic = pd.read_csv('../data/titanic.csv')
titanic.head()
```

2. 'Age' 컬럼의 결측치가 총 몇 건인가?

3. 'Age'컬럼의 결측치를 중위수(median)으로 대체하시오.

4. 'Fare' 컬럼을 StandardScaler()로 스케일을 조정하시오.

5. 'Embarked' 컬럼을 원-핫 인코딩으로 변환해 보시오. (hint. pd.get_dummies)